* {
  box-sizing: border-box;
}

* {
  font-family: 'Arial-Bold', Arial;
}

header {
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 2em;
  border: 2em transparent;
}

header h1 {
  font-size: 2.5em;
}

header img {
  text-align: center;
  width: 19%;
}

header .second-line {
  background-color: rgb(236, 183, 34);
  font-size: 2em;
}

nav{
  font-size: 1.6em;
  background-color: rgb(236, 183, 34);
  border-style: solid;
  border-color: rgb(27,68,127);
  border-width: 0.3em;
  text-align: right;
}

nav a {
  text-decoration: none;
  padding: 1em;
  margin: 1em;
}

section {
  font-family: Arial
}
aside {
  font-family: Arial;
}

footer {
  font-family: Arial;
}


.top {
  border: 0.5em solid rgb(27,68,127);
  height: 20em;
}

.top {
  display: grid;
  grid-gap: 5em 5em;
}

.top-box-1 {
  grid-area: 1 / 1 / 4 / 3;
  text-align: justify;

}

.top-box-2 {
  grid-area: 1 / 4 / 1/ 4;
}


.top {
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  justify-content: space-around;
}


.video-link {
  border: none;
}

.about {
    display: inline-block;
    border: 0.5em solid rgb(68, 68, 68);
    text-align: left;
    height: 50em;
    padding: 4em;
}

.about p::first-letter {
    font-size: 250%;
    font-style: oblique;
    color: rgb(236, 183, 34);
    padding: 0.3em;
  }


.box{
  height: 10em;
  width: 72em;
  border: 4px solid rgb(236, 183, 34);
  align-items: flex-start;
  text-align: center;
}

.highlights-container {
  height: 44em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

aside a {
  text-decoration: none;
}


.container {
  position: relative;
  text-align: center;
  color: rgb(68, 68, 68);
}

.image1 {
  position: relative;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20%;
}

.policy {
    position: relative;
    bottom: 11em;
    left: 2em;
}

.policy2 {
    position: relative;
    bottom: 12.5em;
    left: 1em;
    padding: 1em;
}

.legal {
  position: relative;
  bottom: 8em;
  left: 1em;
}

footer a:link {
  text-decoration: none;
  color: rgb(68, 68, 68);
  bottom: 5em;
  left: 1em;
}


footer p {
  color: rgb(255, 255, 255);
  text-align: left;
}


footer img {
  width: 100%;
}


.schedule {
  text-align: center;
  border: 1em solid rgb(68, 68, 68);
  background-color: rgba(236, 183, 34, 70%);
}

.list-head {
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
  font-weight: bold;
}

.list-courses {
  border: 1em solid rgb(236, 183, 34);
}

.courses-container div {
  border: 0.1em solid rgb(68, 68, 68);
  padding: 2em;
  font-weight: bold;
}

.courses-container {
  display: grid;
  grid-gap: 5em 1em;
  padding: 2em;
}

.class-1 {
    grid-area: 1 / 2 / 1 / 2;
}

.class-2 {
      grid-area: 2 / 2 / 2 / 2;
}

.class-3 {
        grid-area: 3 / 2 / 3 / 2;
}

.private-head {
  font-size: 2em;
}

.private-1 {
  text-align: center;
  border: 1em solid rgba(68, 68, 68, 90%);
  font-weight: bold;
  font-size: 1em;
  background-color: rgb(68, 68, 68);
  color: rgba(255, 255, 255, 80%);
  letter-spacing: 0.1em;
  line-height: 2em;
}


.instructor div {
  border: 5em;
  text-align: center;
  padding: 1em;
  background-color: rgb(68, 68, 68)

}


.instructor {
  display: grid;
  grid-gap: 2em 2em;
  padding: 2em;
  margin: 1em;
}

.instructor-bio {
  border: 1em;
  margin: 1em;
  font-size: 1.1em;
  text-align: center;
}

.ins-head {
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}

.instructor-1 {
  grid-area: 1 / 2 / 1 / 2;
  color: rgba(255, 255, 255, 80%);
}


.instructor-2 {
  grid-area: 2 / 3 / 2 / 2;
  color: rgba(255, 255, 255,80%);
}

.instructor-3 {
  grid-area: 3 / 2 / 3 / 2;
  color: rgba(255, 255, 255,80%);
}



.container::after {
  content: "";
  display: block;
  clear: both;
}
